/* Navbar.css */

.navbar {
  max-width: 12000px;
  height: 200;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;

}

.container {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.logo-container {
  display: flex;
  height: 150px;
  align-items: center;

}

.logo {
  height: 190px; /* Adjust as needed */
    margin-right: 40px; /* Adjust as needed */
    padding-left: 40px;
    width: 100%;

}

.nav-links {
  display: flex;
  gap: 50px;
  flex: 1; /* Added to take remaining space */
  margin-left: 80px; /* Center align links */
  margin-top: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 300;
  font-size: 13px;

}

.nav-link:hover {
  font-weight: 400;
}

.nav-link.active {
  color: red;
}

.about-link {
  position: relative;
  cursor: pointer;
}

.about-link.active {
  color: red;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 80px;
  height: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.dropdown-link {
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  background-color:#6D6C6C;
  width: 80px;
  height: 80px;
  font-size: 12px;
  font-weight: 500;
  


}


.dropdown-link.active {
  background-color:#383838;
}
