.policies {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;


  }
  
  .policy-item {
   
    border-radius: 8px;
    padding: 20px ;
    width: 60%;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: 17%;
    
  }
  
  .policy-item h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  }
  
  .policy-icon {
    width: 50px;  /* Adjust size as needed */
    height: 50px;  /* Adjust size as needed */
    margin-bottom: 10px;
  }
  
  .policy-item p {
    font-size: 1em;
    margin-bottom: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .policy-item button {
    background-color: #000000;
    border: none;
    border-radius: 5px;
    color: #118844eb;
    cursor: pointer;
    font-size: 1em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

  }
  
  .policy-item button:hover {
    color: #104f2beb;

}
  